@using LibraryProject.DtoLayer.Dtos;
@using LibraryProject.DtoLayer.Dtos.BookDtos;
@model CreateBookDto

<div class="container-fluid pt-4 px-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="custom-bg-blue rounded p-4">
                <h3 class="text-center mb-4 fw-normal">Add Book</h3>
                <form method="post">
                    <div class="form-group">
                        <label asp-for=@Model.bookTitle class="control-label" >Book Title</label>
                        <input asp-for=@Model.bookTitle class="form-control" minlength="5" maxlength="50" required />
                        <span asp-validation-for="bookTitle" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for=@Model.author class="control-label">Author</label>
                        <input asp-for=@Model.author class="form-control" minlength="5" maxlength="50" required />
                        <span asp-validation-for="author" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for=@Model.publisher class="control-label">Publisher</label>
                        <input asp-for=@Model.publisher class="form-control" minlength="5" maxlength="50" required />
                        <span asp-validation-for="publisher" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for=@Model.publicationDate class="control-label">Publication Date</label>
                        <input asp-for=@Model.publicationDate type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" required />
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for=@Model.pageCount class="control-label">Page Count</label>
                        <input asp-for=@Model.pageCount type="number" min="1" class="form-control" required />
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for=@Model.price class="control-label">Price</label>
                        <input asp-for=@Model.price type="number" min="1" step="0.01" class="form-control" required />
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="control-label">Category</label>
                        <select asp-for=@Model.CategoryId class="form-control" asp-items="ViewBag.Categories" id="Categories"></select>
                        <span asp-validation-for=@Model.CategoryId class="text-danger"></span><br />
                    </div>
                    <br />
                    <div class="form-group text-center">
                        <input type="submit" value="Add Book" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    .custom-bg-blue {
        background-color: #ADD8E6;
    }
</style>